QStackedWidgetTest/build-QStackedWidgetTest-Desktop_arm_darwin_generic_mach_o_64bit-Debug
Layout/build-Layout-Desktop_arm_darwin_generic_mach_o_64bit-Debug
HelloQT-CMake/build-HelloQT-CMake-Desktop_arm_darwin_generic_mach_o_64bit-Debug
UIControlTest/build-UIControlTest-Desktop_arm_darwin_generic_mach_o_64bit-Debug
